@media (max-width: 600px) {
  .hero {
    overflow: hidden;
  }
  .hero header {
    background: #fff;
    padding: 10px 50px;
  }
  .hero header .nav .logo {
    color: #000;
  }
  .hero header .nav ul {
    position: fixed;
    height: 100vh;
    width: 50%;
    background: rgba(0, 0, 0, 0.9);
    top: 60px;
    left: -50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 999;
    -webkit-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
  }
  .hero header .nav li {
    margin-bottom: 3em;
  }
  .hero header .nav a {
    color: #fff;
  }
  .hero header .nav .checkbtn {
    display: block;
    cursor: pointer;
  }
  .hero header .nav #check:checked ~ ul {
    left: 0;
  }
  .hero header .close {
    top: 15%;
    right: 10%;
  }
  .hero header .modal-login .modal-body .form {
    width: 90%;
  }
  .hero .hero-wrapper .hero-info .hero-content {
    right: 0;
    width: 460px;
    height: 60%;
  }
  .hero .hero-wrapper .hero-info .hero-content h1 {
    font-size: 2em;
  }
  .hero .hero-wrapper .hero-info .hero-content p {
    font-size: .75em;
  }
  .hero .hero-wrapper .hero-info .hero-content .input-bar {
    width: auto;
    position: relative;
  }
  .hero .hero-wrapper .hero-info .hero-content .input-bar input[type="text"] {
    margin-bottom: 2em;
    width: 100%;
  }
  .hero .hero-wrapper .hero-info .hero-content .input-bar .btn {
    width: 0px;
    position: absolute;
    right: 10%;
  }
  #service {
    padding: 0;
    height: auto;
    margin-bottom: 100px;
  }
  #service h1 {
    margin-top: 1em;
    font-size: 1.5em;
  }
  #service .service-wrapper {
    padding: 30px;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
  #service .service-wrapper .service-card {
    width: 200px;
  }
  #feature {
    height: 120vh;
  }
  #feature .feature-wrapper .feature-content {
    left: 0;
    width: 60%;
    padding: 30px;
  }
  #feature .feature-wrapper .feature-content ul {
    height: auto;
    margin-bottom: 1em;
  }
  #feature .feature-wrapper .feature-content ul h2 {
    font-size: 1.5em;
  }
  #feature .feature-wrapper .feature-content ul p {
    font-size: 14px;
  }
  #feature .feature-wrapper .feature-img {
    width: 50%;
  }
  .business {
    height: 50vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .business .business-wrapper p {
    width: 100%;
  }
  .deal .deal-wrapper .deal-content {
    width: 70%;
  }
  .connect .connect-wrapper .connect-content {
    width: 60%;
  }
  .partnership {
    height: auto;
  }
  .partnership .partnership-wrapper {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .join .join-wrapper {
    padding: 0px 30px;
  }
  .join .join-wrapper h2 {
    text-align: center;
    font-size: 2em;
  }
  .signup .form form {
    width: 100%;
  }
}
/*# sourceMappingURL=main.mobile.css.map */