@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
}

/*header*/

header{
	background: rgba(255,255,255,.8);
	height: 80px;
	-webkit-box-shadow: 4px 4px 30px 0px rgba(0,0,0,.16);
	box-shadow:  4px 4px 30px 0px rgba(0,0,0,.16);
	position: fixed;
	width: 100%;
	z-index: 909;
	display: flex;
	justify-content: space-between;
	padding: 0px 50px;
	align-items: center;
}

.logo a{
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 1px;
	font-size: 30px;
	font-family: 'Work Sans', sans-serif;
	color: rgb(37,37,37);
}

.login{
	border-radius: 30px;
    background: rgb(249, 157, 75);
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255,255,255,.8);
    letter-spacing: 1px;
    -webkit-box-shadow: 4px 4px 30px 0px rgba(0,0,0,.16);
	box-shadow: 4px 4px 30px 0px rgba(0,0,0,.16);
}

.register{
	border-radius: 30px;
    background: rgb(223, 82, 140);
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    -webkit-box-shadow: 4px 4px 30px 0px rgba(0,0,0,.16);
	box-shadow: 4px 4px 4px 30px 0px rgba(0,0,0,.16);
}

/*banner*/

.banner{
	height: 100vh;
	background: linear-gradient(-37deg, rgb(81, 205, 172) 0%, rgb(73, 141, 209) 100%);
	clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	display: grid;
	grid-template-columns: 50% 50%;
	position: relative;
}

.banner::after{
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 143px;
	background: url('images/wave.png')no-repeat center ;
	z-index: -1;
	
}

.banner-img{
	align-self: center;
	height: 100%;
	width: 100%;
	padding: 50px;
}

.banner-img img{
	height: 100%;
	width: 100%;
}

.banner-info{
	align-self: center;
	padding: 50px;
	height: auto;
}

.banner-info h1{
	color: rgba(255,255,255,.8);
	font-size: 3em;
	letter-spacing: 2px;
	margin-bottom: 2rem;
}

.banner-info p{
	color: rgba(0,0,0,.7);
	font-size: 25px;
	margin-bottom: 2.5rem;
}

.banner-info a{
	background: linear-gradient(-221deg, rgb(223, 82, 140) 0%, rgb(249, 157, 75) 100%);
	text-decoration: none;
	font-size: 20px;
	padding: 10px 20px;
	color: rgba(255,255,255,.7);
	-webkit-box-shadow: 4px 4px 30px 0px rgba(0,0,0,.16);
	box-shadow: 4px 4px 4px 30px 0px rgba(0,0,0,.16);
}

/*main*/

.main{
	height: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 50px;
}

.boy-img{
	height: 500px;
	width: 500px;
	align-self: center;
}

.boy-img img{
	width: 100%;
	height: 100%;
}

.boy-info{
	height: auto;
	padding: 50px;
	align-self: center;
}

.boy-info h1{
	font-size: 3em;
	margin-bottom: 2rem;
	color: rgba(0,0,0,.9);
	letter-spacing: 2px;
}

.boy-info p{
	font-size: 25px;
	color: rgba(0,0,0,.7);
	line-height: 30px;
	margin-bottom: 2rem;
}

.boy-info a{
	padding: 10px 20px;
	color: rgba(255,255,255.7);
	text-decoration: none;
	background: rgb(235,67,113);
	background: linear-gradient(90deg, rgba(235,67,113,0.8323704481792717) 0%, rgba(235,30,237,0.7847514005602241) 100%);
	-webkit-box-shadow: 4px 4px 30px 0px rgba(0,0,0,.16);
	box-shadow: 4px 4px 4px 30px 0px rgba(0,0,0,.16);
	font-size: 20px;
}

/*content*/

.team{
	height: 100%;
	background: linear-gradient(-221deg, rgb(223, 82, 140) 0%, rgb(249, 157, 75) 100%);
	/*clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 10%, 100% 10%, 100% 100%, 0% 90%);*/
	padding: 80px;
}

.team h1{
	text-align: center;
	font-size: 3em;
	color: rgba(255,255,255,.8);
}

.team h2,p{
	color: rgba(255,255,255,.8);
}

.team-info{
	padding: 10px 100px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
	place-items: center;
	z-index: 3;
}

.card{
	height: 200px;
	width: 100%;
	border: 1px solid rgba(255,255,255,.7);
	border-radius: 25px;
	-webkit-box-shadow: 4px 4px 30px 0px rgba(0,0,0,.16);
	box-shadow: 4px 4px 4px 30px 0px rgba(0,0,0,.16);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 3;
}

.card img{
	width: 100px;
	height: 100px;
}

.projects{
	height: 100%;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.project-content{
	height: 50%;
	width: 50%;
}

.project-content img{
	height: 100%;
	width: 100%;
	margin-bottom: 2rem;
}

.project-info{
	width: 100%;
	text-align: center;
	padding: 30px;
}

.project-info h1{
	font-size: 3em;
	margin-bottom: 1em;
	color: rgba(0,0,0,.9);
}

.project-info p{
	color: rgba(0,0,0,.7);
	font-size: 25px;
}

.footer{
	background: rgb(196,39,129);
	background: linear-gradient(90deg, rgba(196,39,129,0.9051995798319328) 11%, rgba(195,23,43,0.7903536414565826) 49%);
	height: 100%;
}

.footer-grid{
	padding: 70px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-flow: dense;
}

.footer-list{
	height: 100%;
	margin-bottom: 1.5rem;
}

.footer-list h2{
	margin-bottom: 5px;
	color: #fff;
}

.footer-list ul li{
	margin-bottom: 10px;
	list-style: none;
}

.footer-list ul li a{
	color: rgba(255,255,255,.7);
	text-decoration: none;
}

.footer-copy{
	height: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
}

.footer-social a{
	color: #fff;
	margin: 0px 10px;
	font-size: 20px;
}

.copy{
	color: #fff;
	font-size: 12px;
}

